<!-- <table class="table table-striped">
    <thead>
        <tr>
            <th> <span class="ml-2">#</span> </th>
            <th> <span class="ml-2">Customer</span> </th>
            <th> <span class="ml-2">Email</span> </th>
            <th> <span class="ml-2">Phone</span> </th>
            <th> <span class="ml-2">Address</span> </th>
            <th> <span class="ml-2">Notes</span> </th>
            <th> <span class="ml-4">Action</span> </th>
        </tr>
    </thead>
    <tbody *ngIf=" customers?.length> 0 ;else noCustomers">
        <tr *ngFor=" let customer of customers;let i=index">
            <th scope="row"><span title="User ID -> `{{customer.id}}`">{{i+1}}</span>
            </th>
            <td>
                {{customer.firstName}} {{customer.lastName}}
            </td>
            <td>{{customer.email}}</td>
            <td>{{customer.phoneNumber}}</td>
            <td>{{customer.address}}</td>
            <td>{{customer.notes}}</td>
            <td>
                <div class="p-3 icons d-flex justify-content-between"> <i class="fa fa-phone fa-lg text-success actionButtons"></i>
                    <i class="px-3 fa fa-pencil-square-o text-primary fa-lg actionButtons"></i><i (click)=" deleteCustomer($event, customer)" class="fa fa-trash fa-lg text-danger actionButtons "></i>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshCountries()">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
    <option [ngValue]="2">2 items per page</option>
    <option [ngValue]="4">4 items per page</option>
    <option [ngValue]="6">6 items per page</option>
  </select>
</div> -->
<div class="input-group col col-lg-5">
    <input type="text" class="form-control bg-light border small shadow" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" [(ngModel)]="searchStr">
    <div class="input-group-append">
        <button class="btn btn-primary" type="button">
      <i class="fas fa-search fa-sm"></i>
    </button>
    </div>
</div>


<table class="table  table-hover table-responsive card-1 mt-3 rounded-top">

    <thead class="thead-dark">
        <tr>
            <th> <span class="ml-2 ">#</span> </th>
            <th> <span class="ml-2 ">Customer</span> </th>
            <th> <span class="ml-2 ">Email</span> </th>
            <th> <span class="ml-2 ">Phone</span> </th>
            <th> <span class="ml-2 ">Address</span> </th>
            <!-- <th> <span class="ml-2 ">Notes</span> </th> -->
            <th> <span class="ml-4 ">Action</span> </th>
        </tr>
    </thead>
    <!-- <tbody *ngIf=" customers?.length> 0 ;else noCustomers"> -->
    <tbody *ngIf=" customers?.length> 0 ;else noCustomers">
        <tr *ngFor=" let customer of customers | search:searchStr; let i=index" class="border-bottom">
            <td>
                <div class="px-2"> <span class="d-block font-weight-bold" title="User ID -> `{{customer.id}}`">{{i+1}}</span>
                </div>
            </td>
            <td>
                <div class="d-flex flex-row align-items-center mb-2"><i class="fas fa-user text-primary fa-2x"></i>
                    <div class="px-2"> <span class="font-weight-bold ">
              {{customer.firstName}} {{customer.lastName}}</span></div>
                </div>
            </td>
            <td>
                <div class="p-2"> <span class="font-weight-bold ">{{customer.email}}</span> </div>
            </td>
            <td>
                <div class="p-2"> <span class="font-weight-bold ">{{customer.phoneNumber}}</span>
                </div>
            </td>
            <td>
                <div class="p-2 d-flex flex-column customerAddressWrap"> <span>{{customer.address}}</span>
                </div>
            </td>
            <!-- <td>
                <div class="p-2 d-flex flex-column overflow-auto border bg-info text-white rounded customerNoteWrap">
                    <span>
            {{customer.notes}}</span> </div>
            </td> -->
            <td>
                <div class="p-3 icons d-flex justify-content-between">
                    <a href="tel:{{customer.phoneNumber}}"><i
                            class="fa fa-phone fa-lg text-success actionButtons ">
                            </i></a>
                    <a> <i (click)="showCustomer($event, customer)" class="px-3 fa fa-pencil-square-o text-primary fa-lg actionButtons "></i><i (click)="remove($event, customer)" class="fa fa-user-times fa-lg text-danger actionButtons "></i></a>
                </div>
            </td>
        </tr>
    </tbody>
</table>



<!-- <div *ngIf="customers?.length> 0 ;else noCustomers">
                        <ul *ngFor=" let customer of customers " class="collection">
                            <li class="collection-item ">
                                {{customer.id}}
                            </li>
                            <li class="collection-item ">
                                {{customer.firstName}}{{customer.lastName}}
                            </li>
                            <li class="collection-item ">
                                {{customer.email}}
                            </li>
                        </ul>
                    </div> -->

<ng-template #noCustomers>
    <hr>
    <!-- <h5>Loading....</h5> -->
    <div class="spinner-border text-warning" role="status">
        <span class="sr-only">Loading...</span>
    </div>

</ng-template>