<div class="container-fluid bootstrap snippets bootdey">
    <div class="row profile">
        <div class="col-md-2" id="profileCol">
            <div class="profile-sidebar">
                <div class="profile-userpic text-center">
                    <img src="https://bootdey.com/img/Content/User_for_snippets.png" class="img-responsive" alt="">
                </div>
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{userEmail}}
                    </div>
                </div>
                <div class="profile-userbuttons">
                    <button type="button" class="btn btn-info btn-sm">
            <i class="fa fa-user-plus"></i>
            Change Logo
          </button>
                </div>
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li routerLinkActive="active">
                            <a routerLink="/dashboard/overview">
                                <i class=" fa fa-home" aria-hidden="true"></i> Overview </a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="/dashboard/account">
                                <i class="fa fa-user" aria-hidden="true "></i> Account</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="/dashboard/tasks">
                                <i class="fa fa-tasks" aria-hidden="true "></i> Tasks </a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="/dashboard/users">
                                <i class="fa fa-question-circle" aria-hidden="true "></i> Users </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9 " id="contentCol ">
            <div class="container text-center">
                <h1 class="dashStyle">Dashboard Panel</h1>
            </div>
            <hr>
            <app-side-content></app-side-content>
        </div>
    </div>
</div>