<div class="card card0 border-0">
    <div class="row d-flex">
        <div class="col-lg-6">
            <div class="card1 pb-5">
                <div class="row"> <img src="https://i.imgur.com/CXQmsmF.png" class="logo"> </div>
                <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="https://i.imgur.com/uNGdWHi.png" class="image"> </div>
            </div>
        </div>
        <form class="col-lg-6" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
            <div class="card2 card border-0 px-4 py-5">
                <div class="row mb-4 px-3">
                    <h6 class="mb-0 mr-4 mt-2">Sign in with</h6>
                    <div class="facebook text-center mr-3">
                        <div class="fa fa-facebook"></div>
                    </div>
                    <div class="twitter text-center mr-3">
                        <div class="fa fa-twitter"></div>
                    </div>
                    <div class="linkedin text-center mr-3">
                        <div class="fa fa-linkedin"></div>
                    </div>
                </div>
                <div class="row px-3 mb-4">
                    <div class="line"></div> <small class="or text-center">Or</small>
                    <div class="line"></div>
                </div>
                <div class="row px-3">
                    <label for="email" class="mb-1" [ngClass]="{'text-danger': form.get('email').invalid && form.get('email').touched}">
            <h6 class="mb-0 text-sm">Email Address</h6>
          </label><input formControlName="email" [ngClass]="{'bg-light': form.get('email').invalid &&
		  form.get('email').touched}" class="mb-3" type="email" name="email" placeholder="Enter a valid email address" #email>
                    <span class="pb-3 text-danger mb-3 font-weight-bold" *ngIf="form.get('email').invalid && form.get('email').touched"><span
              *ngIf="form.get('email').errors['required']">Email cannot be empty</span>
                    <span *ngIf="form.get('email').errors['pattern']">Email is incorrect</span>
                    </span>
                </div>
                <div class="row px-3"> <label class="mb-3" [ngClass]="{'text-danger': form.get('password').invalid && form.get('password').touched}">
            <h6 class="mb-0 text-sm">Password</h6>
          </label> <input formControlName="password" [ngClass]="{'bg-light': form.get('password').invalid &&
		  form.get('password').touched}" class="mb-3" type="password" name="password" placeholder="Enter password" #password>
                    <span class="pb-3 text-danger mb-3 font-weight-bold" *ngIf="form.get('password').invalid && form.get('password').touched"><span
              *ngIf="form.get('password').errors['required']">Password cannot be empty</span>
                    <span *ngIf="form.get('password').errors['minlength'] && form.get('password').errors['minlength']['requiredLength']">Password
              should be minimum {{form.get('password').errors['minlength']['requiredLength']}} characters. Now is
              {{form.get('password').errors['minlength']['actualLength']}} characters</span>
                    </span>
                </div>
                <div class="row px-3 mb-4">
                    <div class="custom-control custom-checkbox custom-control-inline"> <input id="chk1" formControlName="checkbox" type="checkbox" name="chk" class="custom-control-input"> <label for="chk1" class="custom-control-label text-sm">My details are correct!</label>
                    </div> <a href="#" class="ml-auto mb-0 text-sm">Forgot Password?</a>
                </div>
                <div class="row mb-3 px-3">

                    <button type="submit" (click)="login(email.value,password.value)" class="btn btn-blue text-center" [disabled]="form.invalid">Login</button> </div>
                <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
                    {{errorMessage}}
                </div>
                <div class="row mb-4 px-3"> <small class="font-weight-bold">Don't have an account? <a
              class="text-danger ">Register</a></small> </div>
            </div>
        </form>
    </div>
</div>